body {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 center;
}

h2 {
    margin: 0;
}
.alinhamentoContainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 100%;
}

.borderContainers{
    border: solid 1px rgb(160, 157, 157);
    border-radius: 1rem;
    padding: 0.5rem;
}

.cabecalhoPesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 center;
    min-width: 100%;
}

.conteiner_principal{
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.inputCidade {
    padding: 2px;
    min-width: 100%;
    border: solid 1px rgb(160, 157, 157);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.btnSearch{
    padding: 2px 5px;
    background-color: transparent;
    border: solid 1px rgb(160, 157, 157);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-left: none;
    cursor: pointer;
}
.btnSearch:houver{
    color: aqua;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.container_infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    gap: 1rem;
}

.icon{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-height: 100%;
    max-width: 100%;
}

.imgClima{
    min-width: 5rem;
    min-height: 5rem;
}

.infos_temperatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center
}
.infos_temperatura > p {
    margin: 0 auto;
}  

.temp{
    font-size: 30px;
}
.descri{
    font-size: 14px;
    color: rgb(132, 133, 134);
}

.container_detalhes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}